<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-Powered Drug Discovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>AI-Powered Smart Drug Discovery</h1>
    <input type="text" id="smiles" placeholder="Enter Drug SMILES Notation">
    <button onclick="predictDrug()">Predict</button>
    <div id="result"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>